<link rel="stylesheet" href="/css/index.css">
<main>
    <div class="form-container">
        <h2>Users</h3>
        <br>
        <button class="btn">
            <a href="/admin/sign-in">Admin Portal</a>
        </button>
        <button class="btn">
            <a href="/customer/sign-in">Customer Portal</a>
        </button>
    </div>
</main>