<div class="main-content" id="paid-payment">
    <div class="container">
      <h1>All Paid Payment List</h1>
      <div class="paid-payment">
        <% for (let payment of paidPaymentList) { %>
          <div class="paid-payment-list">
            <p><strong>Customer Name:</strong> <%= payment.loan.customer.name %></p>
            <p><strong>Loan Amount:</strong> <%= payment.totalAmount %></p>
            <p><strong>Total Term:</strong> <%= payment.totalTerm %></p>
            <p><strong>Payment Status:</strong> <%= payment.status %></p>
          </div>
        <% } %>
      </div>
    </div>
  </div>
  