main
{
    /* min-height: 100vh !important; */
    padding: 20px;
}
.form-container
{
    background-color: rgb(34, 34, 34);
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -18%);
    box-shadow: 2px 2px 6px 10px grey;
    border-radius: 10px;
    text-align: center;
    padding: 0.5rem;
}
input
{
    width: 300px;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    border-radius: 10px;
}

.btn
{
    width: 300px !important;
    background-color: rgb(92, 125, 222);
    color: white;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    border-radius: 10px;
}
.btn:hover
{
    background-color: rgb(38, 86, 227);
}

.or
{
    margin: 1rem;
}
.register-btn
{
    margin-top: 1rem;
    width: 300px !important;
    background-color: rgb(57, 174, 57);
    color: white;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    border-radius: 10px;
}
.register-btn a
{
    text-decoration: none;
    color: white;
}

.register-btn:hover
{
    background-color: rgb(1, 157, 1);
}